
:root {
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);

  --Cyan: hsl(180, 66%, 49%);
  --DarkViolet: hsl(257, 27%, 26%);
}

body,
button,
a {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  color: var(--GrayishViolet);
}

button {
  color: white;
}

h1 {
  color: var(--DarkViolet);
}
