* {
  box-sizing: border-box;
}

button {
  border-radius: 25px;
  padding: 8px 16px;
  background-color: var(--Cyan);
  border-color: var(--Cyan);
}

body {
  padding: 0;
  margin: 0;
}

/* ===============================
  flex
================================== */
.intro,
.header,
.nav-link {
  display: flex;
}

.header,
.nav-link {
  align-items: center;
}

/* ===============================
  styles
================================== */

/* container main  */
.container {
  padding: 24px 5%;
}






/* background-colors */
.white-bg {
  background-color: white;
}

.split-bg {
  background-image: linear-gradient(white 50%, var(--Gray) 50%);
}

.grey-bg {
  background-color: var(--Gray);
}






/* ----- navigation ----- */
.header {
  width: 100%
}

/* logo */
.logo {
  margin-right: 2%;
}

/* nav links */
.nav-link a {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  padding: 0 18px;
}

/* recources link */
.link-r {
  margin-right: auto;
}

/* main intro */
.intro {
  width: 100%;
  align-items: center;
  margin-top: 24px;
}

.container-text {
  max-width: 500px;
  margin-right: auto;
}

.container-img {
  max-width: 60%;
}

/* center input for form  */

.form {
  /* margin-top: 24px; */
}

.input-form {
  display: flex;
  padding: 24px;
  border-radius: 8px;
  margin: auto;
  background: url(../img/bg-shorten-desktop.svg) 0 0 / cover  var(--DarkViolet);
}

.input-for-shorten {
  flex: 4;
  border-radius: 8px;
  padding-left: 8px;
  border-color: transparent;
  margin-right: 8px;
  font-family: inherit;
  font-size: 16px;
  color: var(--Gray);

}

.form-btn {
  flex: 1;
  border-radius: 8px;
}



/* second main part of the web */

/* main container  */
.second-main {
  display: flex;
}

.second-header-text {
  text-align: center;
  margin: auto;
  width: 400px;
}
