* {
  box-sizing: border-box;
}

button {
  border-radius: 25px;
  padding: 8px 16px;
  background-color: var(--Cyan);
  border-color: var(--Cyan);
}

body {
  padding: 0;
  margin: 0;
}

/* ===============================
  flex
================================== */
.intro,
.header,
.nav-link {
  display: flex;
}

.header,
.nav-link {
  align-items: center;
}

/* ===============================
  styles - background
================================== */

/* container main  */
.container {
  padding: 24px 5%;
}

/* background-colors */
.white-bg {
  background-color: white;
}

.split-bg {
  background-image: linear-gradient(white 50%, var(--Gray) 50%);
}

.grey-bg {
  background-color: var(--Gray);
}


/* ===============================
  navigation
================================== */
.btn-toggle-nav {
  background-image: url(../img/hamburger-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 35px;
  height: 35px;
}

.header {
  width: 100%
}

/* logo */
.logo {
  margin-right: 2%;
}

/* nav links */
.nav-link a {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  padding: 0 18px;
}

/* recources link */
.link-r {
  margin-right: auto;
}

/* ===============================
  main Intro
================================== */
.intro {
  width: 100%;
  align-items: center;
  margin-top: 24px;
}

.container-text {
  max-width: 500px;
  margin-right: auto;
}

.container-img {
  max-width: 60%;
}

/* ===============================
  Form
================================== */

.form {
  /* margin-top: 24px; */
}

.input-form {
  display: flex;
  padding: 24px;
  border-radius: 8px;
  margin: auto;
  background: url(../img/bg-shorten-desktop.svg) 0 0 / cover  var(--DarkViolet);
}

.input-for-shorten {
  flex: 4;
  border-radius: 8px;
  padding-left: 8px;
  border-color: transparent;
  margin-right: 8px;
  font-family: inherit;
  font-size: 16px;
  color: var(--Gray);

}

.form-btn {
  flex: 1;
  border-radius: 8px;
}



/* ===============================
  Second part of web
================================== */

/* main container  */
.second-main {
  /* display: flex; */
}

.second-header-text {
  text-align: center;
  margin: auto;
  width: 500px;
}

/* ===============================
Cards
================================== */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin-top: 48px;
  margin-bottom: 15%;
}

.card {
  margin: 8px;
  padding: 16px;
  border-radius: 5px;
  background-color: white;

  flex: 1 250px;
}

.card-2 {
  margin-top: 5%;
  margin-bottom: -5%;
}

.card-3 {
  margin-top: 10%;
  margin-bottom: -10%;
}

.icon {
  position: relative;
  top: -42.5px;

  background-color: var(--DarkViolet);

  background-image: url(../img/icon-brand-recognition.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;

  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.card-top-margin {
  margin-top: -15px;
}

/* boost links today bottom container  */

.get-started {
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--DarkViolet);
  background-image: url(../img/bg-boost-desktop.svg);
  background-size: cover;

}

.get-started-container {
  margin: auto;
  text-align: center;
}

.boost-links-h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
}

/* ===============================
  Media Queries
================================== */

@media (max-width: 780px) {
  .intro {
    flex-direction: column;
  }
  .container-text {
    order: 2;
    margin: auto;
    text-align: center;
    max-width: 400px;
  }
  .container-img {
    order: 1;
    margin: auto;
    max-width: 90%;
  }

  /* --- input form --- */
  .input-form {
    flex-direction: column;
  }

  .input-for-shorten {
    width: 100%;
    line-height: 39.5px;
    margin-bottom: 24px;
  }

  .form-btn {
    width: 100%;
  }

}

@media (max-width: 887px) {
  /* cards */

  .card-1,
  .card-2,
  .card-3 {
    margin: 16px;
  }
}
